@{
    ViewBag.Title = "About-Marks";
}
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-lg-2">

	</div>
	<div class="col-lg-8">
		<p> Well let me start by saying thank you for an opportunity to write this test. My name is Matsipa Marks Hlahla, known as Marks. </p>
		<p>Why me, is a question that you might ask all the employees (potential), I am a self-driven developer in a way that I don’t wait for a problem to be called out or announced to tackle it (meaning if I spot an issue that needs to get fixed I will go through the right channels and get the issue fixed). I am ambitious about development, even on 4 years of development is still want to learn new technologies and explore beyond, I chose development because is a path with no boundaries, where nothings stays the same, where evolution happens over night as supposed to decades, with development if you snooze you lose (NB: you can’t learn everything in the development world, but learning is the most important principal of development).  <br />
			I am a brave heart. I am one that does not back down from a challenge without facing it. </p>
		<p>
			I can go on and on about what makes me the best candidate, but there is only one thing that separates me from the rest, I am Marks, the one and only. And I believe that I am the best candidate for this post
		</p>
</div>
	
</div>

